* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DADADA;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

h2 {
    margin-bottom: 30px;
}

.nav {
    width: 100%;
    padding: 1rem 3rem;
    margin-bottom: 3rem;
    background-color: white;
}

.nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
    font-weight: bold;
}

.nav a:hover {
    color: #DADADA;
    background: black;
}

.active {
    text-decoration: underline !important;
}

.search-container .search {
    display: block;
    
}

.search-container p, .search-container label {
    font-weight: bold;
    font-size: 1rem;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.item {
    min-width: 30%;
    height: 150px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 5px 5px rgba(0,0,0,.1);
}

.item i {
    font-size: 30px;
    float: right;
    color: green;
    cursor: pointer;
}


.item-button {
    padding: .3rem;
    margin: 3rem 0 0;
    background: coral;
    color: white;
    border: none;
    width: 100%;
}

.favorite {
    border: 3px solid red;
}





